* {
    box-sizing: border-box;
}

/* Basic Elements */

body {
    margin: 0;
    line-height: 1.5;
}

.section {
    margin: 0 auto 1em;
    text-align: center;
}

header,
.section {
    background-color: #fbfbfb;
}

.content {
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: center;
    padding: 1em;
}

img {
    max-width: 100%;
}

.self {
    padding: 40px 40px 5px 40px;
}

h1, h2, nav, .footer-link {
    font-family: "Niramit", sans-serif;
    font-weight: 600
}

h3 {
    font-family: "niramit", sans-serif;
    font-weight: 450
}

.nav1,
.nav2 {
    list-style: none;
}

.nav1 li {
    background-color: white;
    margin: 2px auto;
    padding: .75em 100px;
}

.nav1 {
    
}


a:link { 
    text-decoration: none;
    color: black 
}
a:visited { 
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
}
a:active { 
    text-decoration: none;
}

/*Basic Layout */

.name1, 
.nav1 {
    display: block;
}

.nav1 a, .nav2 a, .footer-link {
    text-transform: uppercase;
}

.content p, p {
    font-family: "Niramit", sans-serif;
    font-weight: 350;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    .nav2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-link {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    
}

/* Flexbox */

.main-header, 
.content, 
.main-footer {
    display: flex;
    flex-grow: 1;
}

.main-header,
.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
}