* {
    box-sizing: border-box;
}

/* Basic Elements */

body {
    margin: 0;
    line-height: 1.5;
}

.section {
    margin: 0 auto;
    text-align: center;
}


.content {
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: center;
    padding: 1em;
}

img {
    max-width: 100%;
}

.self {
    padding: 40px 40px 5px 40px;
}

/*Basic Layout */

.nav1 a, .nav2 a, .footer-link {
    text-transform: uppercase;
}

.content p {
    font-family: "Niramit", sans-serif;
    font-weight: 350;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    .nav2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-link {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    
}

/* Flexbox */

.main-header, 
.content,
.main-footer {
    display: flex;
    flex-grow: 1;
}

.main-header,
.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-footer {
    flex-direction: row;
    align-items: center;
}

.name2 {
    justify-content: flex-start;
}

.footer-link {
    justify-content: flex-end;
}

.content {
    flex-wrap: wrap;
}