* {
    box-sizing: border-box;
}

* {
    border: 1px solid red;
  }


/* Basic Elements */

body {
    margin: 0;
    text-align: center;
}

header,
section {
    background-color: #f9f9f9;
}


.nav1 {
    display: inline;
}

img {
    max-width: 100%;
}

a {
    color: black;
}

.footer-link {
    padding: 0 25px 0 0;
    text-transform: uppercase;
    font-size: 15px;
}

.name2 {
    padding: 0 0 0 25px;
    font-size: 15px;
}

a:link { 
    text-decoration: none;
    color: black 
}
a:visited { 
    text-decoration: none;
}
a:hover { 
    text-decoration: none;
}
a:active { 
    text-decoration: none;
}

/*Basic Layout */

.section {
    padding: 20px 5% 40px;
}

.content {
    margin: 0 auto;
    padding: 0 4%;
}

.main-footer {
    padding: 30px 0;
}

.nav1 li, 
.nav2 li {
    list-style: none;
}

.name1,
.nav1,
.heading,
.contact-title,
footer,
h3 {
    font-family: 'Roboto', sans-serif;
}
.name1,
.nav1,
.heading,
.contact-title,
footer {
    font-weight: 700;
}

/* Media Queries */

@media screen and (max-width: 767.9px) {
    .nav2 {
        display: none;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav1 li {
        margin: 2px auto;
        text-align: center;
        padding: 10px 0;
    }

    .main-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .footer-link {
        display: none;
    }

    .main-footer {
        display: flex;
        justify-content: space-between;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 25px 0;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        flex: 1 50%;
        padding: 5px;
    }

    .nav1 li {
        display: inline;
        margin: 0 30px 0 0;
    }

    .nav2 li {
        display: inline;
        margin: 0 15px 0 0;
        position: relative;
        bottom: 13px;
    }

    .section img {
        float: right;
        position: relative;
        height: 120px;
        max-width: 100%;
    }

    .heading {
        clear: both;
    }

}

@media screen and (min-width: 1024px) {
    
}

/* Flexbox */
